html, body {
    margin: 0px;
    padding: 0px;
}



.main-header {
    position: relative;
    outline: 2px solid rgb(173, 255, 47);
    background-color: rgba(173, 255, 47, 0.1);
}

.main-header::after {
    content:".main-header";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(173, 255, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.main-navigation {
    position: relative;
    outline: 2px solid rgb(116, 47, 255);
    background-color: rgba(116, 47, 255, 0.10);
}

.main-navigation::after {
    content:".main-navigation";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(116, 47, 255);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.container {
    position: relative;
    outline: 2px solid rgb(255, 47, 136);
    background-color: rgba(255, 47, 136, 0.1);
}

/* .container::after {
    content:".container";
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 47, 136);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.container2 {
    position: relative;
    outline: 2px solid rgb(255, 47, 136);
    background-color: rgba(255, 47, 136, 0.1);
}

.container2::after {
    content:".container2";
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 47, 136);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
} */


.site-navigation-wrapper {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.site-navigation-wrapper::after {
    content:".site-navigation-wrapper";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.site-navigation {
    position: relative;
    outline: 2px solid rgb(47, 255, 94);
    background-color: rgba(47, 255, 94, 0.10);
}

/* .site-navigation::after {
    content:".site-navigation";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(47, 255, 94);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
} */

.site-navigation-item {
    position: relative;
    outline: 2px solid rgb(47, 255, 94);
    background-color: rgba(47, 255, 94, 0.10);
}



.main-header-logo {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.main-header-logo::after {
    content:".main-header-logo";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}


/* .slide {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.slide::after {
    content:".slide";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
} */


.user-navigation {
    position: relative;
    outline: 2px solid rgb(116, 47, 255);
    background-color: rgba(116, 47, 255, 0.10);
}

/* .user-navigation::after {
    content:".user-navigation";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(116, 47, 255);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
} */


.slider {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.slider::after {
    content:".slider";
    position: absolute;
    left: 0;
    bottom: 50%;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.slider-controls-wrapper {
    outline: 2px solid rgb(255, 64, 47);
    background-color: rgba(255, 64, 47, 0.10);
}



.slider-base {
    position: relative;
    outline: 2px solid rgb(47, 252, 255);
    background-color: rgba(47, 252, 255, 0.10);
}

.slider-.slider-base {
    content:".slider-base";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(47, 252, 255);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.slider-list {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.slider-list::after {
    content:".slider-list";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.container-we-can-do {
    position: relative;
    outline: 2px solid rgb(47, 140, 255);
    background-color: rgba(47, 140, 255, 0.10);
}

.container-we-can-do::after {
    content:".container-we-can-do";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(47, 140, 255);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.offer-list {
    position: relative;
    outline: 2px solid rgb(255, 218, 47);
    background-color: rgba(255, 218, 47, 0.10);
}

.offer-list::after {
    content:".offer-list";
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 218, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.we-can-do {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.we-can-do::after {
    content:".we-can-do";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}


.offer-item-card {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.offer-item-card::after {
    content:".offer-item-card";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}


.about-us-wrapper {
    position: relative;
    outline: 2px solid rgb(47, 235, 255);
    background-color: rgba(47, 235, 255, 0.10);
}

.about-us-wrapper::after {
    content:".about-us-wrapper";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(47, 235, 255);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}


.about-us {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.about-us::after {
    content:".about-us";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.statistics {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.statistics::after {
    content:".statistics";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.selected-works {
    position: relative;
    outline: 2px solid rgb(255, 244, 47);
    background-color: rgba(255, 244, 47, 0.10);
}

.selected-works::after {
    content:".selected-works";
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    color: black;
    background-color: rgb(255, 244, 47);
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

.statistic-list {
    position: relative;
    outline: 2px solid rgb(92, 250, 21);
    background-color: rgba(92, 250, 21, 0.10);
}

.statistic-list li {
    position: relative;
    outline: 2px solid rgb(255, 47, 109);
    background-color: rgba(255, 47, 110, 0.10);
}



.selected-works-list {
    position: relative;
    outline: 2px solid rgb(47, 55, 255);
    background-color: rgba(47, 55, 255, 0.10);
}


.selected-works-logo {
    position: relative;
    outline: 2px solid rgb(248, 255, 47);
    background-color: rgba(248, 255, 47, 0.10);
}


.main-footer {
    position: relative;
    outline: 2px solid rgb(90, 47, 255);
    background-color: rgba(90, 47, 255, 0.10);
}

.main-footer-wrapper {
    position: relative;
    outline: 2px solid rgb(231, 255, 47);
    background-color: rgba(231, 255, 47, 0.10);
}

.contacts-wrapper {
    position: relative;
    outline: 2px solid rgb(255, 47, 47);
    background-color: rgba(255, 47, 47, 0.10);
}

/* .contacts {
    position: relative;
    outline: 2px solid rgb(10, 162, 57);
    background-color: rgba(10, 162, 57, 0.10);
} */

.social-wrapper {
    position: relative;
    outline: 2px solid rgb(43, 0, 174);
    background-color: rgba(43, 0, 174, 0.10);
}

.social {
    position: relative;
    outline: 2px solid rgb(161, 174, 0);
    background-color: rgba(161, 174, 0, 0.10);
}

.social-list-wrapper {
    position: relative;
    outline: 2px solid rgb(36, 0, 174);
    background-color: rgba(36, 0, 174, 0.10);
}

.lets-be-friends {
    position: relative;
    outline: 2px solid rgb(36, 0, 174);
    background-color: rgba(36, 0, 174, 0.10);
}

.social-list {
    position: relative;
    outline: 2px solid rgb(146, 174, 0);
    background-color: rgba(146, 174, 0, 0.10);
}

.social-item {
    position: relative;
    outline: 2px solid rgb(7, 0, 174);
    background-color: rgba(7, 0, 174, 0.10);
}
